@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-5xl md:text-7xl lg:text-9xl;
  }

  h2 {
    @apply text-3xl sm:text-5xl md:text-7xl;
  }

  h3 {
    @apply text-xl sm:text-3xl md:text-5xl;
  }

  h4 {
    @apply text-lg sm:text-xl md:text-2xl;
  }
  h5 {
    @apply text-sm sm:text-base md:text-lg;
  }

  li {
    @apply cursor-pointer;
  }

  .bg {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
  }
}
